<div class="container">
  <div class="analytics-highlights">
    <div class="analytics-highlight">
      <h5>Day One <br>Attendees</h5>
      <p><%= @day_one.length %></p>
    </div>
    <div class="analytics-highlight">
      <h5>Both Day <br>Attendees</h5>
      <p><%= @both.length %></p>
    </div>
    <div class="analytics-highlight">
      <h5>Unable To <br>Attend</h5>
      <p><%= @neither.length %></p>
    </div>
    <div class="analytics-highlight">
      <h5>Need <br>Accommodation</h5>
      <p><%= @accommodation.length %></p>
    </div>
  </div>
  <table class="response-table">
    <tr class="response-row response-header">
      <th><%= link_to "Name", sort: "name" %></th>
      <th><%= link_to "Attendance", sort: "attendance" %></th>
      <th><%= link_to "Dietary Requirements", sort: "diet" %></th>
      <th><%= link_to "Accommodation", sort: "accommodation" %></th>
    </tr>
    <% @responses.each_with_index do |response, index| %>
      <tr class="<%= index.odd? ? 'response-row odd-row' : 'response-row' %>">
        <td><%= response.name %></td>
        <td><%= Attendance.find(response.attendance_ids).first.name %></td>
        <td><%= response.diet.blank? ? 'N/A' : response.diet %></td>
        <td><%= response.accommodation %></td>
      </tr>
    <% end %>
  </table>
</div>
