<div id="input-container" class="container">
  <%= form_for :password, url: responses_path, method: :get do |f| %>
    <%= f.text_field :password %>
    <%= f.submit "Go!" %>
  <% end %>
</div>
<div class="analytics-highlights">
  <div class="analytics-highlight">
    <h3>Day One Attendees</h3>
    <p><%= @day_one.length %></p>
  </div>
  <div class="analytics-highlight">
    <h3>Both Day Attendees</h3>
    <p><%= @both.length %></p>
  </div>
  <div class="analytics-highlight">
    <h3>Cannot Attendees</h3>
    <p><%= @neither.length %></p>
  </div>
  <div class="analytics-highlight">
    <h3>Need Accommodation</h3>
    <p><%= @accommodation.length %></p>
  </div>
</div>
<div id="responses-container" class="container">
  <% @responses.each do |response| %>
    <%= response.name %>
  <% end %>
</div>
