<div class="inverted-navbar shared-navbar">
  <div class="navbar-inner">
    <div class="navbar-link">
      <%= link_to "THE DETAILS", root_path(anchor: "details"), class: "navbar-link-text" %>
    </div>
    <div class="navbar-link">
      <%= link_to "GETTING THERE", root_path(anchor: "directions"), class: "navbar-link-text" %>
    </div>
    <%= link_to "Sean & Laura", root_path, class: "navbar-link-text large-navbar-link" %>
    <div class="navbar-link">
      <%= link_to "ACCOMODATION", root_path(anchor: "accomodation"), class: "navbar-link-text" %>
    </div>
    <div class="navbar-link">
      <%= link_to "RSVP", new_response_path, class: "navbar-link-text" %>
    </div>
  </div>
</div>
<button class="hamburger hamburger--spring" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
<div id="dropdown" class="d-none">
  <i class="fas fa-times" id="close-btn"></i>
  <%= link_to "THE DETAILS", root_path, class: "dropdown-option navbar-link-text" %>
  <div class="divider"></div>
  <%= link_to "GETTING THERE", root_path, class: "dropdown-option navbar-link-text" %>
  <div class="divider"></div>
  <%= link_to "ACCOMODATION", root_path, class: "dropdown-option navbar-link-text" %>
  <div class="divider"></div>
  <%= link_to "RSVP", new_response_path, class: "dropdown-option navbar-link-text" %>
</div>
<div class="rsvp-container" data-controller="rsvp">
  <%= image_tag "eucalyptus3.png", alt: "Eucalyptus leaves", class: "eucalyptus leaves-top-right rsvp-plant rsvp-plant-1" %>
  <%= image_tag "eucalyptus.png", alt: "Eucalyptus leaves", class: "eucalyptus leaves-bottom-left rsvp-plant" %>
  <h2 class="medium-text garamond gold pt-5 pb-3">Kindly respond by 21st of October</h2>
    <div class="rsvp-form">
    <%= simple_form_for(@response) do |f| %>
      <%= f.label :name, "Name of first attendee", class: "rsvp-label m-0" %>
      <%= f.input :name, label: false,input_html: { class: "rsvp-input" } %>
      <fieldset class="form-group check_boxes optional response_attendances">
        <legend class="col-form-label pt-0">Will be attending:</legend>
        <input type="hidden" name="response[attendance_ids][]" value="">
        <div class="form-check">
          <input class="form-check-input check_boxes optional" type="checkbox" value="1" name="response[attendance_ids][]" id="response_attendance_ids_1" data-action="click->rsvp#toggleAttendance" data-target="rsvp.checkbox">
          <label class="form-check-label collection_check_boxes" for="response_attendance_ids_1">Day One Only</label>
        </div>
        <div class="form-check">
          <input class="form-check-input check_boxes optional" type="checkbox" value="2" name="response[attendance_ids][]" id="response_attendance_ids_2" data-action="click->rsvp#toggleAttendance" data-target="rsvp.checkbox">
          <label class="form-check-label collection_check_boxes" for="response_attendance_ids_2">Both Days</label>
        </div>
        <div class="form-check">
          <input class="form-check-input check_boxes optional" type="checkbox" value="3" name="response[attendance_ids][]" id="response_attendance_ids_3" data-action="click->rsvp#toggleAttendance" data-target="rsvp.checkbox">
          <label class="form-check-label collection_check_boxes" for="response_attendance_ids_3">Neither</label>
        </div>
      </fieldset>
      <%= f.label :diet, "Special dietary requirements", class: "rsvp-label m-0 mt-3" %>
      <%= f.input :diet, label: false, placeholder: "This will be a dropdown menu of dietary options",input_html: { class: "rsvp-input" } %>
      <div class="d-flex">
        <%= f.input :accommodation, label: false %>
        <%= f.label :accommodation, "Accommodation Required", class: "rsvp-label" %>
      </div>
      <%= f.submit "RSVP", class: "gold-button mx-auto my-5" %>
    <% end %>
  </div>
</div>

<script>
  window.addEventListener('turbolinks:load', (event) => {
    const burger = document.querySelector('.burger-menu')
    const dropdown = document.getElementById('dropdown')
    const closeBtn = document.getElementById('close-btn')
    if (burger) {
      burger.addEventListener('click', (event) => {
        dropdown.classList.toggle('d-none')
      })
      closeBtn.addEventListener('click', (event) => {
        dropdown.classList.toggle('d-none')
      })
    }
  });
</script>
