<div class="inverted-navbar shared-navbar">
  <div class="navbar-inner">
    <div class="navbar-link">
      <%= link_to "THE DETAILS", root_path(anchor: "details"), class: "navbar-link-text" %>
    </div>
    <div class="navbar-link">
      <%= link_to "GETTING THERE", root_path(anchor: "directions"), class: "navbar-link-text" %>
    </div>
    <%= link_to "Sean & Laura", root_path, class: "navbar-link-text large-navbar-link" %>
    <div class="navbar-link">
      <%= link_to "ACCOMODATION", root_path(anchor: "accomodation"), class: "navbar-link-text" %>
    </div>
    <div class="navbar-link">
      <%= link_to "RSVP", new_response_path, class: "navbar-link-text" %>
    </div>
  </div>
</div>
<div class="burger-menu">
  <i class="fas fa-bars"></i>
</div>
<div id="dropdown" class="d-none">
  <i class="fas fa-times" id="close-btn"></i>
  <%= link_to "THE DETAILS", root_path, class: "dropdown-option navbar-link-text" %>
  <div class="divider"></div>
  <%= link_to "GETTING THERE", root_path, class: "dropdown-option navbar-link-text" %>
  <div class="divider"></div>
  <%= link_to "ACCOMODATION", root_path, class: "dropdown-option navbar-link-text" %>
  <div class="divider"></div>
  <%= link_to "RSVP", new_response_path, class: "dropdown-option navbar-link-text" %>
</div>
<div class="rsvp-container">
  <%= image_tag "eucalyptus3.png", alt: "Eucalyptus leaves", class: "eucalyptus leaves-top-right" %>
  <%= image_tag "eucalyptus.png", alt: "Eucalyptus leaves", class: "eucalyptus leaves-bottom-left" %>
  <h2 class="medium-text garamond gold pt-5 pb-3">Kindly respond by 21st of October</h2>
    <div class="rsvp-form">
    <%= simple_form_for(@response) do |f| %>
      <%= f.label :name, "Name(s)", class: "rsvp-label" %>
      <%= f.input :name, label: false, input_html: { class: "rsvp-input" } %>
      <%= f.radio_button :attending, true %>
      <%= f.label :attending, "Joyfully accepts", class: "rsvp-label" %>
      <br>
      <%= f.radio_button :attending, false %>
      <%= f.label :attending, "Regretfully declines", class: "rsvp-label" %>
      <br>
      <%= f.label :diet, "Special dietary requirements", class: "rsvp-label" %>
      <%= f.input :diet, label: false, input_html: { class: "rsvp-input" } %>
      <%= f.submit "RSVP", class: "gold-button mx-auto my-5" %>
    <% end %>
  </div>
</div>

<script>
  window.addEventListener('turbolinks:load', (event) => {
    const burger = document.querySelector('.burger-menu')
    const dropdown = document.getElementById('dropdown')
    const closeBtn = document.getElementById('close-btn')
    if (burger) {
      burger.addEventListener('click', (event) => {
        dropdown.classList.toggle('d-none')
      })
      closeBtn.addEventListener('click', (event) => {
        dropdown.classList.toggle('d-none')
      })
    }
  });
</script>
